.root {
	position: relative;
}
.input {
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    padding: 12px 20px;
    width: 350px;
    border-radius: 10px;
    font-size: 16px;
		padding-left: 46px;
		margin: 4px 10px;
		&:hover{
			border: 1px solid rgba($color: #000000, $alpha: 0.3);
			background-color: #bababa1a;

		}
}

.icon {
    width: 24px;
    height: 24px;
    opacity: 0.4;
		position: absolute;
		left: 20px;
		top: 16px;
}
.iconClose{
	width: 20px;
	height: 20px;
	opacity: 0.4;
	position: absolute;
	top: 19px;
	right: 24px;
	cursor: pointer;
	&:hover{
		opacity: 0.8;
	}
}
